### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [14]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

First step is to get the columns thar are available to work with

In [15]:
#print columns to have names
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [16]:
#Get the number of unique purchases
total_Players =len(purchase_data['SN'].unique())

#creates a dataframe of the unique players to make subsequenst analysis easier
unique_players= purchase_data.drop_duplicates('SN')

#print the number of players in a readable format
print(f'There are {total_Players} unique players in the purchases database')

There are 576 unique players in the purchases database

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:

#create a blank dictionary to put key value pairs in where key is 
#variable described and value is value of variable
summary_dict = {}

#get the number of unique items via item id number
summary_dict['Unique Items'] = [len(purchase_data['Item ID'].unique())]
# get the average price as mean of purchased prices 
summary_dict['Average Price'] = [purchase_data['Price'].mean()]
#get the number of purchases by counting number of purchase IDs which 
#is the unique identification number for the purchase
summary_dict['Number of Purchases'] = [purchase_data['Purchase ID'].count()]
#Get total revenue from item purchases by summing the price of the item from
# every transation
summary_dict['Total Revenue'] = [purchase_data['Price'].sum()]

#put data into dataframe format
summary_df = pd.DataFrame(summary_dict)

#format the monetary values to show as dollar values
summary_df['Average Price'] = summary_df['Average Price'].map('${:,.2f}'.format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map('${:,.2f}'.format)

#display data
print(summary_df)

   Unique Items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [18]:
#use the early made dataframe with only unique players to get the number of players from each gender
gender_df = unique_players['Gender'].value_counts()
#cast value count series as dataframe to make it easier to work with
gender_df = pd.DataFrame(gender_df)

#change the name of the count of players to accurately reflect the data
gender_df = gender_df.rename(columns={'Gender':'Number of Players'},errors='raise')

#Get a percentage of the gender count for each gender option
gender_df['Percentage of Players'] = gender_df['Number of Players']/gender_df['Number of Players'].sum()*100

#format the percent of players as a percent
gender_df['Percentage of Players'] = gender_df['Percentage of Players'].map('{:,.2f}%'.format)

#display data
print(gender_df)

                       Number of Players Percentage of Players
Male                                 484                84.03%
Female                                81                14.06%
Other / Non-Disclosed                 11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
#make a groupby of the data by gender
Gender_group = purchase_data.groupby('Gender')

#cast groupby as a dataframe of transaction counts split by gender
#and rename the column of transactions apropriately
Gender_Analysis = pd.DataFrame(Gender_group['Purchase ID'].count()).rename(columns={'Purchase ID':"Purchase Count"})

#get summary statistics mean and sum of transactions by gender
Gender_Analysis['Average Purchase Price'] = Gender_group['Price'].mean()
Gender_Analysis['Total Purchase Value'] = Gender_group['Price'].sum()

#get the average spent per person by using sum of transactions devided by number of unique players aquired doing demographic calculations
Gender_Analysis['Average Total per Person'] = Gender_group['Price'].sum()/gender_df['Number of Players']

#create a list of columns that should be formatted as dollar values and loop through them to 
#format the columns apropriately 
moneyColumns= ['Average Purchase Price','Total Purchase Value','Average Total per Person']
for series in moneyColumns:
    Gender_Analysis[series] = Gender_Analysis[series].map('${:,.2f}'.format)

#display data
print(Gender_Analysis)

                       Purchase Count Average Purchase Price  \
Gender
Female                            113                  $3.20
Male                              652                  $3.02
Other / Non-Disclosed              15                  $3.35

                      Total Purchase Value Average Total per Person
Gender
Female                             $361.94                    $4.47
Male                             $1,967.64                    $4.07
Other / Non-Disclosed               $50.19                    $4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:

#create 8 bins by creating 9 values, 0 and 8 equally spaced numbers in increments of 5 starting from 9
bins = [0]
for x in range(7):
    x = x*5+9
    bins.append(x)

#create labels fo how it will bin data according to pd.cut
binlabels = [f'{x+1}-{x+5}' for x in bins]

#remove the first and last labels then replace them with more readable numbers it more accurate
del binlabels[0]
del binlabels[-1]
binlabels.insert(0,f'<{bins[1]+1}')
binlabels.append(f'{bins[-1]+1}+')

#add an arbitrarily large bin to end to catch players beyond highest age group
bins.append(150)


#Create a dataframe which displays the number of players in each age range 
age_demographics = pd.DataFrame(pd.cut(unique_players['Age'],bins,labels=binlabels).value_counts())

#raname and sort the dataframe to be easier to read and name the data apropriately
age_demographics = age_demographics.rename(columns={'Age':'Number of Players'})
age_demographics = age_demographics.sort_index()

#relabel the index as the boxes they were splitinto
age_demographics['Age'] = binlabels
age_demographics= age_demographics.set_index('Age')

#get the percantage of each age group as a part of the full number of users
age_demographics['Percentage of Players'] = age_demographics['Number of Players']/age_demographics['Number of Players'].sum()*100
#reformat the percentage to display as a percentage
age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].map('{:,.2f}%'.format)

#display data
print(age_demographics)

       Number of Players Percentage of Players
Age
<10                   17                 2.95%
10-14                 22                 3.82%
15-19                107                18.58%
20-24                258                44.79%
25-29                 77                13.37%
30-34                 52                 9.03%
35-39                 31                 5.38%
40+                   12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:

#create an empty dataframe to put data into
age_analysis = pd.DataFrame()

#cut full transaction data into already established bins and group by ages
purchase_data['age_group']  =  pd.cut(purchase_data['Age'],bins,labels=binlabels)
ageGroup= purchase_data.groupby('age_group')

#put counts of data into the empty dataframe
age_analysis['Number of Players'] = purchase_data['age_group'].value_counts()

#sort and rename to accurately reflect data
age_analysis = age_analysis.sort_index()
age_analysis = age_analysis.rename_axis('Age')

#get summary statistics and average transaction value per player as per method described for gender
age_analysis['Average Purchase Price'] = ageGroup['Price'].mean()
age_analysis['Total Purchase Value'] = ageGroup['Price'].sum()
age_analysis['Average Total per Person'] = ageGroup['Price'].sum()/age_demographics['Number of Players']

#reformat monetary columns as per list, loop method described for gender
moneyColumns= ['Average Purchase Price','Total Purchase Value','Average Total per Person']
for series in moneyColumns:
    age_analysis[series] = age_analysis[series].map('${:,.2f}'.format)

#Display data    
age_analysis

,Number of Players,Average Purchase Price,Total Purchase Value,Average Total per Person
Age,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:

#create groupby using User name of players
userStats = purchase_data.groupby('SN')

#Create dataframe using counts of purchases for each player
userStats_df = pd.DataFrame(purchase_data['SN'].value_counts())

#rename axises to accuretly reflect data
userStats_df = userStats_df.rename({'SN':'Purchase Count'}, axis='columns')
userStats_df = userStats_df.rename_axis('SN')

#get summary statustics of transactions per player
userStats_df['Average Purchase Price'] = userStats['Price'].mean()
userStats_df['Total Purchase Value'] = userStats['Price'].sum()

#reformat data to go by highest spenders and reformat monetary columns to display as dollars
userStats_df = userStats_df.sort_values('Total Purchase Value', ascending=False)
moneyColumns= ['Average Purchase Price','Total Purchase Value']
for series in moneyColumns:
    userStats_df[series] = userStats_df[series].map('${:,.2f}'.format)

#display first 5 users in list
userStats_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [57]:

#Create groupby using item id then item name
itemStats = purchase_data.groupby(['Item ID','Item Name'])

#create data frame by count of number of purchases of each item
itemStats_df = pd.DataFrame(purchase_data[['Item ID','Item Name']].value_counts())

#rename data to accurately reflect data created
itemStats_df = itemStats_df.rename({0:'Purchase Count'}, axis='columns')

#Get summary statistics of the items (sum of purchases and average purchase price)
itemStats_df['Average Purchase Price'] = itemStats['Price'].mean()
itemStats_df['Total Purchase Value'] = itemStats['Price'].sum()

#sort data by number of times item was purchased
itemStats_df = itemStats_df.sort_values('Purchase Count', ascending=False)

#reformat monetary columns using list, loop method used earlier
moneyColumns= ['Average Purchase Price','Total Purchase Value']
for series in moneyColumns:
     itemStats_df[series] = itemStats_df[series].map('${:,.2f}'.format)

#display info
itemStats_df.head(5)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [58]:

#sort the item statistics data frame by money spend on item overall
#to do this the $ must be removed before sorting then added back


#removes $ and casts as float
moneyColumns= ['Average Purchase Price','Total Purchase Value']
for series in moneyColumns:
     itemStats_df[series] = itemStats_df[series].apply(lambda x: float(x.replace('$','')))

#sorts data by purchase value
itemStats_df = itemStats_df.sort_values('Total Purchase Value', ascending=False)

#re adds the $
for series in moneyColumns:
     itemStats_df[series] = itemStats_df[series].apply(lambda x: '$'+ str(x))

#display info
itemStats_df.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.9,$44.1
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.8